/*
 Copyright 2015 SpinalCom  www.spinalcom.com
  

 This file is part of SpinalCore.

 Soda is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 SpinalCore is distributed in the hope that it will be useful,

 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License for more details.
 You should have received a copy of the GNU General Public License
 along with SpinalCore. If not, see <http://www.gnu.org/licenses/>.
*/


.browse_container{
/*     height: 300px; */
}

#drop_zone {
    border: medium dashed gray;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    background: OldLace;
}

.file_container{
    float: left;
    width: 150px;
    height: 170px;
    text-align:center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    //background: #c6c6c6;
    margin:     5px 5px 5px 5px ;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

.file_container:hover {
    background: #b8dbe9;
    text-decoration: underline;
    cursor:pointer;
}

.line_container{
    float: left;
    width: 100%;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

.line_container:hover {
    background: #b8dbe9;
    text-decoration: underline;
    cursor:pointer;
}

.line_message_container{
    background: url('img/message_25.png') left center no-repeat;
}


.picture{
    max-height: 128px;
}


.icon_scene{
    padding-bottom: 1em;
    width : 100%;
    color      : #e5e5e5; 
    margin-bottom: 5px;
    height : 30px;
    font-weight: bold;
    font-size: 16px;
    padding: 2px 0 0px 0px;
    background: #262626 url("img/title-picto.png") no-repeat center left;
    text-align: left;
}
.icon_scene img{
    padding:0.3em;
    height:2em;
}

.icon_scene img:hover{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: lightGrey;
}

.breadcrumb{
    cursor: pointer;
}
.breadcrumb:hover{
    text-decoration: underline;
}

.selected_file {
    background-color: #7578a6;
}
.selected_file:hover {
    background-color: #8ba6f4;
}

.icon_folder_128 {
    text-align: center;
    background: url('img/orange_folder.png') no-repeat;
    margin:auto;
    height:100px;
    width: 100px;
}

.icon_mesh_128 {
    text-align: center;
    background: url('img/unknown.png') no-repeat;
    margin:auto;
    height:100px;
    width: 100px;
}


.icon_session_128 {
    text-align: center;
    background: url('img/project-icone.png') no-repeat;
    margin:auto;
    height:100px;
    width: 100px;
}

.share_user_information_div {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    background: #262626;
}

.line_button {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    //border:     thin solid #262626;
    margin: auto;
    height: 30px;
    width: 100px;
}

.share_button {
    text-align: center;
    background: url('img/share_icon_30.png') center center no-repeat;
    margin: 0 0 0 15px;
    height: 30px;
    width: 30px;
    float: left;
}

.share_message_button {
    text-align: center;
    background: url('img/share_icon_20.png') center center no-repeat;
    margin: 0 0 0 2px;
    height: 30px;
    width: 20px;
    float: left;
}

.delete_button {
    text-align: center;
    background: url('img/delete_icon_30.png') center center no-repeat;
    margin: 0 0 0 2px;
    height: 30px;
    width: 20px;
    float: left;
}


.select_organisation_button {
    text-align: center;
    background: url('img/select_icon_30.png') center center no-repeat;
    margin: 0 0 0 15px;
    height: 30px;
    width: 30px;
    float: left;
}

.unselect_organisation_button {
    text-align: center;
    background: url('img/unselect_icon_30.png') center center no-repeat;
    margin: 0 0 0 15px;
    height: 30px;
    width: 30px;
    float: left;
}

.download_button {
    text-align: center;
    background: url('img/upload_icon_30.png') center center no-repeat;
    margin: 0 0 0 10px;
    height: 30px;
    width: 30px;
    float: left;
}

.use_button {
    background: url('img/left_arrow_20.png') left center no-repeat;
    padding: 0 0 0 22px;
    margin: 0 0 0 20px;
    font-size   : 18px;
    text-align  : left;
    line-height : 30px;
    height: 30px;
    width: 30px;
    float: left;
}

.container_share_div{
    background : url( 'img/share_icon_120.png' ) center center no-repeat ;
    float : left;
}



.desk_panel_button {
    -moz-border-radius: 5;
    -webkit-border-radius: 5;
    -o-border-radius: 5;
    border-radius: 5;
    border: none;
    background: #4dbce9;
    color      : #262626; 
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

